default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: supermarket-api_development

test:
  <<: *default
  database: supermarket-api_test

production:
  <<: *default
  database: supermarket-api_production
  username: supermarket-api
  password: <%= ENV['SUPERMARKET-API_DATABASE_PASSWORD'] %>
